<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhj.model.blog.NotebookMain">

	<!-- ==================================字段属性配置========================================= -->

	<!-- NOTEBOOK_MAIN     as ""字段 -->
	<sql id="columns_NotebookMain">
		sid  ,
		locale_id  ,
		category_id  ,
		title  ,
		bodys  ,
		status,
		sort_key  ,
		notes  ,
		created_by  ,
		created_date  ,
		update_by  ,
		update_date  
	</sql>
	
	<!-- 新增NOTEBOOK_MAIN 信息字段 -->
  	<sql id="columns_insertNotebookMain">
	    (
			sid ,
			locale_id ,
			category_id ,
			title ,
			bodys ,
			status,
			sort_key ,
			notes ,
			created_by ,
			created_date ,
			update_by ,
			update_date 
	    )
  	</sql>
  
    <!-- 新增NOTEBOOK_MAIN 传入参数值 -->
    <sql id="columns_NotebookMainParams">
	     (
			#{sid,jdbcType=VARCHAR} ,
			#{localeId,jdbcType=VARCHAR} ,
			#{categoryId,jdbcType=VARCHAR} ,
			#{title,jdbcType=VARCHAR} ,
			#{bodys,jdbcType=VARCHAR} ,
			#{status,jdbcType=VARCHAR} ,
			#{sortKey,jdbcType=DECIMAL} ,
			#{notes,jdbcType=VARCHAR} ,
			#{createdBy,jdbcType=VARCHAR} ,
			#{createdDate,jdbcType=TIMESTAMP} ,
			#{updateBy,jdbcType=VARCHAR} ,
			#{updateDate,jdbcType=TIMESTAMP} 
	     )
    </sql>
  
	<!-- 修改NOTEBOOK_MAIN属性字段 -->
	<sql id="NotebookMain_update">
			sid = #{sid,jdbcType=VARCHAR} ,
			locale_id = #{localeId,jdbcType=VARCHAR} ,
			category_id = #{categoryId,jdbcType=VARCHAR} ,
			title = #{title,jdbcType=VARCHAR} ,
			bodys = #{bodys,jdbcType=VARCHAR} ,
			status = #{status,jdbcType=VARCHAR} ,
			sort_key = #{sortKey,jdbcType=DECIMAL} ,
			notes = #{notes,jdbcType=VARCHAR} ,
			created_by = #{createdBy,jdbcType=VARCHAR} ,
			created_date = #{createdDate,jdbcType=TIMESTAMP} ,
			update_by = #{updateBy,jdbcType=VARCHAR} ,
			update_date = #{updateDate,jdbcType=TIMESTAMP} 
	</sql>
	
	<!-- NOTEBOOK_MAIN 查询(包括条件按查询) -->
	<sql id="NotebookMain_where">
	 		<if test="sid != null and sid != ''">
	 			and sid = #{sid}
	 		</if>
	 		<if test="localeId != null and localeId != ''">
	 			and locale_id = #{localeId}
	 		</if>
	 		<if test="categoryId != null and categoryId != ''">
	 			and category_id = #{categoryId}
	 		</if>
	 		<if test="title != null and title != ''">
	 			and title = #{title}
	 		</if>
	 		<if test="bodys != null and bodys != ''">
	 			and bodys = #{bodys}
	 		</if>
	 		<if test="status != null and status != ''">
	 			and status = #{status}
	 		</if>
	 		<if test="sortKey != null">
	 			and sort_key = #{sortKey}
	 		</if>
	 		<if test="notes != null and notes != ''">
	 			and notes = #{notes}
	 		</if>
	 		<if test="createdDate != null">
	 			and created_date = #{createdDate}
	 		</if>
	 		<if test="updateBy != null and updateBy != ''">
	 			and update_by = #{updateBy}
	 		</if>
	 		<if test="updateDate != null">
	 			and update_date = #{updateDate}
	 		</if>
			<if test="customWhere != null and customWhere != ''">
				${customWhere}
			</if>
	</sql>

	<!-- NOTEBOOK_MAIN 表关联项目信息表结果集属性声明 -->
	<resultMap type="NotebookMain" id="NotebookMainResultMap">
		<id column="SID" property="sid" />
			<result property="localeId" column="locale_id"/>
			<result property="categoryId" column="category_id"/>
			<result property="title" column="title"/>
			<result property="bodys" column="bodys"/>
			<result property="status" column="status"/>
			<result property="sortKey" column="sort_key"/>
			<result property="notes" column="notes"/>
			<result property="createdBy" column="created_by"/>
			<result property="createdDate" column="created_date"/>
			<result property="updateBy" column="update_by"/>
			<result property="updateDate" column="update_date"/>
	</resultMap>

	<!-- ============================DML语句配置=========================================== -->

	<!-- NOTEBOOK_MAIN 信息查询语句 -->
	<select id="findNotebookMain" resultMap="NotebookMainResultMap">
		SELECT 
			<include refid="columns_NotebookMain" />
		FROM  NOTEBOOK_MAIN 
		<where>
			<include refid="NotebookMain_where" />
		</where>
		<!-- 通用查询排序 -->
		<include refid="com.lhj.system.orderby"/>
	</select>

	<select id="findNotebookMainByList" resultType="NotebookMain">
		SELECT
		sid  ,
		category_id  ,
		title  ,
		LEFT(fnStripTags(bodys),250)  as bodys  ,
		notes  ,
		created_by  ,
		created_date  ,
		update_by  ,
		update_date
		FROM  NOTEBOOK_MAIN
		<where>
			<include refid="NotebookMain_where" />
		</where>
		<!-- 通用查询排序 -->
		<include refid="com.lhj.system.orderby"/>
	</select>
	
	<!-- NOTEBOOK_MAIN  数量查询SQL -->
	<select id="countNotebookMain" resultType="NotebookMain">
		SELECT count(*) total FROM  NOTEBOOK_MAIN
		<where>
			<include refid="NotebookMain_where" />
		</where>
	</select>

  
  	<!-- 新增NOTEBOOK_MAIN 信息 -->
	<insert id="addNotebookMain" parameterType="NotebookMain">
		INSERT INTO NOTEBOOK_MAIN <include refid="columns_insertNotebookMain"/>
		VALUES <include refid="columns_NotebookMainParams"/>
	</insert>
	
	<!-- 修改NOTEBOOK_MAIN 信息 -->
	<update id="updateNotebookMain" parameterType="NotebookMain">
		UPDATE NOTEBOOK_MAIN
		SET    <include refid="NotebookMain_update" />
		WHERE  SID=#{sid}
	</update>
	
	<!-- 删除NOTEBOOK_MAIN 信息 -->
	<update id="deleteNotebookMain" parameterType="NotebookMain">
		DELETE FROM NOTEBOOK_MAIN WHERE  SID=#{sid}
	</update>
</mapper>